name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        containers: [ 1.17.8-bullseye ]
    runs-on: ubuntu-latest
    container: golang:${{ matrix.containers }}
    env:
      PGPASSWORD: pgpwd
      PGHOST: postgres
      PGUSER: postgres
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            /go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Unit Tests
        run: go test -v -race -timeout=60s ./...
    services:
      postgres:
        image: postgres:14.2
        env:
          POSTGRES_PASSWORD: pgpwd
